{cover_enabled, true}.
{edoc_opts, [{dir, "doc"}]}.
{eunit_opts, [{report, {eunit_surefire, [{dir,"."}]}}]}.
{erl_opts, [{parse_transform, lager_transform}, debug_info, warnings_as_errors]}.
{deps,
 [
  {lager, "~>3.2.4"},
  {poolboy, "~>1.5.1"},
  {base16, "~>1.0.0"},
  {hackney, "~>1.7.0"},
  {erlcloud, "~>2.2.4"}
 ]}.

{profiles,
 [
  {lint,  [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.4"}}}]}]}
 ]}.

{escript_incl_apps, [erlcloud, goldrush, jsx, lager, poolboy, base16, hackney, 
                     certifi, idna, metrics, mimerl, ssl_verify_fun, fifo_s3]}.
{escript_emu_args, "%%! +K true +P 10000 -env ERL_MAX_PORTS 10000\n"}.
